.jumbo{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    color: white;
    
}

.topfix{
    background-color: antiquewhite;
    height: 80px;
    border: 1px solid gray;
}

.jumbo-row{
    padding-top:200px;
    padding-bottom:70px
}


.banner-returnal{
    padding-bottom:24px;
    
}

.color-b{
    color:#0072ce
}
    

.banner-returnal img{
    width: 100%;
    
}

/* .banner-returnal h4{
    padding-bottom: 24px;
} */

.btn-jumbo{
    color: white;
    background-color: #cd3d0f;
    border-radius: 15px;
}
.btn-con-ps5{
    color: white;
    background-color: #2d64e6;
    border-radius: 15px;

}

.btn-con-plus{
    color: #2d64e6;
    background-color: #d9dbdd;
    border-radius: 15px;


}




.ps5-img img{
    width: 100%;
}
.hw-img img{
    width: 90%;
}

.hw-name{
    text-align: center;
    font-size: 14px;
    color: #888888;
}

/* TEST QUI HOVER SOTTO TESTO
APPLICATO AL P O A TUTTO IL DIV */

.hw-name{
    border-bottom:1px solid white;
}

.hw-name:hover{
    border-bottom:1px solid #0072ce;
}

/* END - */


.gal-ps5{
    margin-top: 24px;
}

.box-mini-games img{
    width: 100%;
}

.mini-games-row{
    margin-top:24px;
    margin-bottom: 48px;

}

.box-mini-games{
    border-radius: 20px;
    border:2px solid #fff;
    overflow: hidden;

}

.box-mini-games:hover{
    border:2px solid blue;

}



.box-mini-games-inner{
    border-radius: 20px;
    border:2px solid #fff;
    overflow: hidden;

}

/* classi da NUOVE USCITE - da confrontare  */

.takes{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    

}

.takes-row{
    padding-top:120px;
    padding-bottom:50px

}

.banner-takes img{
    width:100%;
}

.banner-takes{
    padding-bottom: 24px;
}

.new-rel{
    background-color: #1f1f1f;
    color:white;
    padding-top:48px;
    margin-bottom: 50px;
}

.new-rel img{
    width: 100%;
    border-radius: 12px;
}

/* PS4 */

.ps4-img img{
    width: 100%;
}


/* plus */
.plus{
    background-color: #bebcbb;
    margin-top: 48px;
}

.ps-plus-img img{
    width: 80%;
}

.ps-april-img img{
    width: 100%;
}