.jumbo{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    color: white;
    
}

.topfix{
    background-color: antiquewhite;
    height: 80px;
    border: 1px solid gray;
}

.jumbo-row{
    padding-top:200px;
    padding-bottom:70px
}


.banner-returnal{
    padding-bottom:24px;
    
}

/* utility class */

body{
    font-family: Arial, Helvetica, sans-serif;
}

.color-b{
    color:#0072ce
}

.mrg-bot{
    margin-bottom: 48px;
}




/* end utility class */
    

.banner-returnal img{
    width: 100%;
    
}

/* .banner-returnal h4{
    padding-bottom: 24px;
} */


/* button */

.btn-jumbo{
    color: white;
    background-color: #cd3d0f;
    border-radius: 15px;
}
.btn-con-ps5{
    color: white;
    background-color: #2d64e6;
    border-radius: 15px;

}

.btn-con-plus{
    color: #2d64e6;
    background-color: #d9dbdd;
    border-radius: 15px;


}

.btn-con-now{
    color: black;
    background-color: #f5f5f5;
    border-radius: 15px;
}




.ps5-img img{
    width: 100%;
}
.hw-img img{
    width: 90%;
}

.hw-img{
    opacity: 0.7;
}
.hw-img:hover{
    opacity: 1;
}

.hw-name{
    text-align: center;
    font-size: 14px;
    color: #888888;
}

/* TEST QUI HOVER SOTTO TESTO
APPLICATO  TUTTO IL DIV */

.item-ps5{
    border-bottom:1px solid white;
}

.item-ps5:hover{
    border-bottom:1px solid #0072ce;
}


.gal-ps5{
    margin-top: 24px;
    margin-bottom: 48px;
}

.box-mini-games img{
    width: 100%;
}

.mini-games-row{
    margin-top:24px;
    margin-bottom: 48px;

}

.box-mini-games{
    border-radius: 20px;
    border:2px solid #fff;
    overflow: hidden;

}

.box-mini-games:hover{
    border:2px solid blue;

}



.box-mini-games-inner{
    border-radius: 20px;
    border:2px solid #fff;
    overflow: hidden;

}

/* classi da NUOVE USCITE - da confrontare  */

.takes{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    

}

.takes-row{
    padding-top:120px;
    padding-bottom:50px

}

.banner-takes img{
    width:100%;
}

.banner-takes{
    padding-bottom: 24px;
}


/* new-rel  CHECK VERIFICA FARE RADIUS IL DIV NO A IMG*/

.new-rel{
    background-color: #1f1f1f;
    color:white;
    padding-top:48px;
    margin-bottom: 48px;
}

.new-rel img{
    width: 100%;
    border-radius: 12px;
}



/* PS4 */

.ps4-img img{
    width: 100%;
}



/* plus */
.plus{
    background-color: #bebcbb;
    margin-top: 48px;
    margin-bottom: 48px;
}

.ps-plus-img img{
    width: 72%;
}

.ps-april-img img{
    width: 100%;
}

/* discount */

.discount img{
    width: 100%;
}


/* hero */

.hero{
    background-color: #161c3b;
    margin-top: 48px;
    margin-bottom: 48px;
}


.ps-now-img img{
    width: 72%;
}


.ps-hero-img img{
    width: 90%;
}


/* social */

.social-img img{
    width: 100%;
}

/* footer */

ul{
    list-style: none;
}

.blu-footer{
    background-color: #00439c;
    color: white;
}

.logo-ps img{
    width: 100%;
}

.logo-sie img{
    width: 100%;
}