.jumbo{
    background-image: url(../img/jumbo-bg.png);
    height: 600px;
    background-size: cover;
    background-position: center;
    color: white;
}

.topfix{
    background-color: antiquewhite;
    height: 80px;
    border: 1px solid gray;
}

.jumbo-row{
    padding-top:200px;
}


.banner-returnal{
    width: 200px;
}

.banner-returnal img{
    width: 100%;
    
}

.btn{
    color: white;
    background-color: #cd3d0f;
    border-radius: 15px;
}